$heading: 25px;

.container {
	text-align: center;
	color: #fff;
	width: 100%;
	max-width: 415px;

	> header {
		font-size: 1.3rem;
		font-weight: 700;
		margin: 24px auto;
		position: relative;
		height: $heading;
		width: 250px;
		overflow: hidden;
	}
}
	
.headings {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	transition: all .4s cubic-bezier(.785,.135,.15,.86);

	> span { margin: 3px 0 }

	&.signIn { transform: translateY(0) }
	
	&.signUp { transform: translateY(-$heading) }
}
	
.options {
	display: flex;
	width: 100%;

	@media screen and (max-width: 380px) {
		width: 100%;
	}

	> li {
		cursor: pointer;
		opacity: .5;
		transition: all .2s ease;
		font-size: 1.25rem;
		
		&:hover { opacity: 1 }
		
		&.active { opacity: 1 }
		
		&:nth-of-type(2) { margin-left: 15px }
	}
}