$primary: #0070f3;

.button{
    cursor: pointer;
    padding: 8px 12px;
    padding-right: 0;
    margin: 0 6px;
    text-transform: capitalize;
    color: lighten($primary, 5%);
    
    &:hover {
		color: darken($primary, 9%);
    
    &:active, &:focus {
      color: darken($primary, 7%);
    }
	}
}