$primary: #0070f3;

.container {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.todoListContainer {
    flex-direction: column;
    background-color: white;
    padding: 2em 3em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 160px;
}

.doneListContainer {
    flex-direction: column;
    background-color: lighten($primary, 50%);
    color: darken($primary, 2%);
    padding: 3em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.roundedCorners {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.listContent{
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    padding-bottom: 1em;
    border-bottom: 2px solid
}

.headerEmpty {
    padding-bottom: 0em;
    border-bottom: none;
}

.title {
    color: $primary;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.black{
    color: black;
}
