$primary: #0070f3;

.input {
    font-size: 1em;
    width: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    min-height: 20px;
    outline: none;
    border: none;
    &:focus{
        color: darken($primary, 12%);
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    font-weight: 100;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px dashed;
    transition: .3s;
    text-decoration: none;
}

.doneInput {
    text-decoration: line-through;
}

.icon{
    cursor: pointer;
    &:hover {
		color: darken($primary, 12%);
    }
}

.removeIcon{
    &:hover {
		color: #FF2800;
    }
}