@import url('https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500600,700,800,900&display=swap');
$primary: #0070f3;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Nunito, Roboto, Arial, sans-serif;
  background: $primary;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

*, li, input, input::placeholder, button, p, span {
  box-sizing: border-box;
  font-family: Nunito, Roboto, Arial, sans-serif;
  font-weight: 700;
}

.title {
  color: white;
  margin: 48px 0 12px;
  line-height: 1.15;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 800;
}

h3.title{
  margin: 12px 0 48px;
  font-size: unset;
}

.title a {
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}


.main{
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.appContainer{
  margin: 18px 0 22px;
  border-radius: 10px;
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 420px;
  width: fit-content;
  max-width: 600px;
  min-height: 160px;
  background-color: white;
  box-shadow: 0em 1em 8em -1em hsla(0, 0%, 0%, 0.5);
}

input.addInput{
  font-size: 1em;
  width: 70%;
  min-height: 20px;
}

p.normalText{
  color: $primary;
  font-weight: 500;
  max-width: 80%;
}

p.logoutText{
  color: white;
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}
