$primary: #0070f3;

.form {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	width: 100%;
}
.field {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: all .4s cubic-bezier(.785,.135,.15,.86);

	&.signIn { max-height: 123px }
	
	&.signUp { max-height: 250px }
	
	> input {
		border: 0;
		margin-bottom: 10px;
		padding: 15px;
		font-size: 1rem;
		color: #000;
		border-radius: 5px;
		font-family: Nunito, Roboto, Arial, sans-serif;
	
		&::placeholder { 
			color: #aaa;
			font-family: Nunito, Roboto, Arial, sans-serif;
		}
	
		&::-webkit-input-placeholder { color: #aaa }
	
		&:-ms-input-placeholder { color: #aaa }
	
		&:focus { outline: none }
	}
			
}

.submitButton {
	border: 0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	padding: 15px 0;
	border-radius: 5px;
	color: #fff;
	font-size: 1rem;
	background: lighten($primary, 5%);
	box-shadow: 0px 1px 2px rgba(0,0,0,.13);
	transition: all .2s ease;
	font-family: Nunito, Roboto, Arial, sans-serif;
	margin: 12px 0;

	&:hover {
		background: darken($primary, 2%);
	}

	&:active, &:focus {
		outline: none;
		background: darken($primary, 7%);
	}
}